@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


body{
    background: rgba(196,196,196,0.1);
    overflow-x: hidden;
}
    *{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #222;
}