body{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    //background-color: #3A404E;
}

:root {
    --text-color: #667085;
    --main-color: #8E2424;
  }

h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 60px;
/* identical to box height, or 125% */
letter-spacing: -0.02em;
/* Gray/900 */
color: #101828;
}

span{
    font-weight: 600;
font-size: 16px;
    color: var(--main-color);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
  }
  
header{
    padding: 96px 0px;
    text-align: center;
}

header p{
    display: flex;
    margin: auto;
    color: var(--text-color);
    max-width: 50%;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-wrap: wrap;
}

.logo {
display: flex;
font-size: 18px;
line-height: 24px;
color: #3A404E;
text-align: center;

}

.logo img{
 height: 26.99px;
 margin:auto;
text-align: center;
margin-left: 112px;

    }

    .logo p{
        position: static;
        width: 113px;
        height: 24px;
        left: 35px;
        top: 1.5px;
        text-align: center;
        margin: auto;
        margin-left: 8px;
        
    }


    .paginas{
        color: #667085;
        margin: auto;
        //margin-left:119px;
        font-size: 16px;

    }

    .botoes{
        display: flex;
        align-items: center;
        padding: 0px;
        color: #667085;
        margin: auto;
        margin-left:119px;
        font-size: 16px;
        line-height: 24px;
    }

    .botoes button{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        margin-left: 30px;
        color: white;
        background: #8E2424;
        border: 1px solid #8E2424;
        padding: 10px 18px;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        cursor: pointer;
    }

    .botoes .entrar{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        background: white;
        border: none;
        color: #667085;
    }

    .metricas{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 112px;
    }

    .metricas div{
        width: 280px;
        height: 192px;
        margin-right: 32px;
        padding-bottom: 96px;
    }

    .metricas h1{
        color: var(--main-color);
        font-weight: 600;
        font-size: 60px;
    }

    .metricas h2{
        color: #101828;
        font-weight: 500;
        font-size: 18px;
    }

    .metricas p{
        color: var(--text-color);
        font-weight: 400;
        font-size: 16px;
    }

    .vagas{
        margin-left:0;
        margin-right:0;
        text-align: center;
        margin-top: 100px;
    }

    .vagas span{
        font-weight: 500;
        font-size: 14px;
        background: rgba(142, 36, 36, 0.05);
        border-radius: 16px;
        padding: 4px 12px;
    }

    .vagas h2{
    font-weight: 600;
    font-size: 36px;
    color: #101828;
    }

    .vagas p{
        font-weight: 400;
        font-size: 20px;
        color: var(--text-color);
    }

    .vagas img{
        width: 90%;
        margin-top: 64px;
    }

    .container-vagas{
        margin:0 auto ;
        width: 50%;
        text-align: left;
    }

    .container-vagas h1{
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        color: #101828;
    }

    .vaga{
        background: #FFFFFF;        
        border: 1px solid #EAECF0;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 24px 24px 28px 28px;
        margin-bottom: 24px;
    }

    .titulo-vaga{
        margin-top: 0px;
        color: #101828;
        background-color: none;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 32px;
    }

    .informacoes span{
        font-weight: 500;
        font-size: 16px;
        color: #667085;
    }