body{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    height: 100vh;
}

:root {
    --text-color: #667085;
    --main-color: #8E2424;
  }

h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 60px;
/* identical to box height, or 125% */
letter-spacing: -0.02em;
/* Gray/900 */
color: #101828;
}

span{
    font-weight: 600;
font-size: 16px;
    color: var(--main-color);
}

nav{
    height: 80px;
    display:flex;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
  }
  
header{
    padding: 96px 0px;
    text-align: center;
}

header p{
    margin: auto;
    color: var(--text-color);
    width: 791px;
    font-weight: 400;
font-size: 20px;
flex-wrap: wrap;
}

.logo {
display: flex;
font-size: 18px;
line-height: 24px;
color: #3A404E;
text-align: center;

}

.logo img{
 height: 26.99px;
 margin:auto;
text-align: center;
margin-left: 112px;

    }

    .logo p{
        position: static;
        width: 113px;
        height: 24px;
        left: 35px;
        top: 1.5px;
        text-align: center;
        margin: auto;
        margin-left: 8px;
        
    }


    .paginas{
        //width: 362px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        color: #667085;
        margin: auto;
        margin-left:119px;
        font-size: 16px;
        line-height: 24px;
    }

    .botoes{
        display: flex;
        align-items: center;
        padding: 0px;
        color: #667085;
        margin: auto;
        margin-left:119px;
        font-size: 16px;
        line-height: 24px;
    }

    .botoes button{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        margin-left: 30px;
        color: white;
        background: #8E2424;
        border: 1px solid #8E2424;
        padding: 10px 18px;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        cursor: pointer;
    }

    .botoes .entrar{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        background: white;
        border: none;
        color: #667085;
    }